.title {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.question-box {
    display: flex;
    flex-direction: row;
    text-align: center;
    border: black 1px solid;
    width: 350px;
    min-height: 200px;
    height: fit-content;
    margin-bottom: 7vh;
    justify-content: center;
    padding: 5px;
}

.answer-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: black 1px solid;
    width: 350px;
    min-height: 55px;
    height: fit-content;
    margin-bottom: 3vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.answer1, .answer2, .answer3, .answer4 {
    border: black 1px solid;
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
}

