.heading span{
    font-family: 'Bellefair', serif;
    font-size: 150px;

}

.heading-two span {
    font-family: 'Bellefair', serif;
    font-size: 100px;

}

.heading-three span {
    font-family: 'Bellefair', serif;
    font-size: 56px;

}

.heading-four span {
    font-family: 'Bellefair', serif;
    font-size: 32px;

}

.heading-five span {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;

    letter-spacing: 4.75px;
}

/* --------------   SUBHEADING 1 -----------------------*/

.subheading-one p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: #D0D6F9;
}

/* --------------   SUBHEADING 2 -----------------------*/

.subheading-two p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: #D0D6F9;
    letter-spacing: 2.35px;
}

/* --------------   SUBHEADING 3 -----------------------*/

.subheading-three p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
}


/* --------------   BODY TEXT  -----------------------*/



.p span{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
}

.white {
    color: #FFFFFF;
}

.blue {
    color: #D0D6F9;
}

.black {
    color: #0b0d17;
}
